body {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: red;
}

a {
    color: blue;
}

a:hover {
    color: green;
}

li { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a {
    color: yellow;
}

input[type=text] {
    background-color: orange;
}

input[type=submit] {
    color: red;
}

